/*
body {

  background-color: red;
}
*/

var shirt = {
    color: 'red',
    size: 'xxl',
    shrink: function(){
        this.size = 'xl';
      },
      fade: function(){
          this.color = 'light-red';
        },
};
console.log(shirt.color);
console.log(shirt.size);
shirt.fade();
shirt.shrink();
console.log(shirt.color);
console.log(shirt.size);
